
### The Knowledge House
# Innovation Fellowship: Data Science - Phase 1 Week 2
## 10/02 - Intro to Programming

Material inspired by Jose Portilla's courses.

**This notebook is just a code reference for lecture, minimal written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Booleans
    * Lists
    * Dictionaries
    * Tuples 
    * Sets
* range()
* list comprehension
* Comparison Operators
* lambda expressions
* map and filter
* methods
____

## Data types

### Variable Assignment

In [99]:
# Can not start with number or special characters
name_of_var = 2

In [100]:
x = 2
y = 3

In [101]:
z = x + y

In [102]:
z

5

## Strings
There are many ways of writing strings in our code. We want to make sure we are able to manipulate and use strings as we desire. This is a super important skill to have!

In [103]:
'single quotes'

'single quotes'

In [104]:
"double quotes"

'double quotes'

In [105]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [106]:
# string indexing
# we start counting at index-0 
our_string = "what a wonderful world"

our_string[0]

'w'

In [107]:
#get the last letter by going to the negatives
our_string[-1]

'd'

In [108]:
#get a range of letters
our_string[0:5]

'what '

In [109]:
#skip letters
our_string[0:20:2]

'wa  odru o'

In [110]:
#print everythig but skip letters
our_string[::4]

'w or l'

In [111]:
# adding to a string
new_string = our_string + " I love it!"
new_string

'what a wonderful world I love it!'

In [112]:
# manually reversing a string
# reverse index
our_string[::-1]

'dlrow lufrednow a tahw'

In [113]:
# str.replace() lets you replace parts of the string
replaced_string = our_string.replace('w','u')
replaced_string

'uhat a uonderful uorld'

In [114]:
replaced_string = our_string.replace('what','where')
replaced_string

'where a wonderful world'

In [115]:
# .format lets us put variables in the string at the end (mostly for Python2)
name = "Tim"
work = "TKH"
job = "instructor"

"My friend {name} is a {job} at {work}".format(name=name, job=job, work=work)

'My friend Tim is a instructor at TKH'

In [116]:
"My friend {0} is a {1} at {2}".format(name, job, work)

'My friend Tim is a instructor at TKH'

In [117]:
# f-string
f"My friend {name} is a {job} at {work}."

'My friend Tim is a instructor at TKH.'

## String methods

In [118]:
st = 'hello, my name is Tim'

In [119]:
# Makes everything lowercase
st.lower()

'hello, my name is tim'

In [120]:
# Makes everything uppercase
st.upper()

'HELLO, MY NAME IS TIM'

In [121]:
#breaks up each word into a list, based on the split criteria, default is space
st.split()

['hello,', 'my', 'name', 'is', 'Tim']

In [122]:
#you lose what you use to split on!

st.split('m')

['hello, ', 'y na', 'e is Ti', '']

In [123]:
# most commonly you're either using space or comma
st.split(',')

['hello', ' my name is Tim']

In [124]:
tweet = 'Go Sports! #Sports'

In [125]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [126]:
tweet.split('#')[1]

'Sports'

### Numbers

In [127]:
1 + 1

2

In [128]:
1 * 3

3

In [129]:
1 / 2

0.5

In [130]:
# exponents
2 ** 4

16

In [131]:
# modulo gives remainder!
4 % 2

0

In [132]:
5 % 2

1

In [133]:
(2 + 3) * (5 + 5)

50

### Booleans

In [134]:
True

True

In [135]:
False

False

## Comparison Operators

In [136]:
# greater than
1 > 2

False

In [137]:
# less than
1 < 2

True

In [138]:
# greater or equal to
1 >= 1

True

In [139]:
# lesser or equal to
1 <= 4

True

In [140]:
# equal to
1 == 1

True

In [141]:
# string equality
'hi' == 'bye'

False

### Printing

In [142]:
x = 'hello'

In [143]:
x

'hello'

In [144]:
print(x)

hello

In [145]:
num = 12
name = 'Sam'

In [146]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [147]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [148]:
[1,2,3]

[1, 2, 3]

In [149]:
# we can nest lists inside of lists
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [150]:
my_list = ['a','b','c']

In [151]:
# adding to our list
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [152]:
# we can index just like we index a string
my_list[0]

'a'

In [153]:
my_list[1]

'b'

In [154]:
my_list[1:]

['b', 'c', 'd']

In [155]:
# indexing is non-inclusive, it's up to but not including the last number
my_list[:1]

['a']

In [156]:
# we can reassign values in the list
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c', 'd']

In [157]:
nest = [1,2,3,[4,5,['target']]]

In [158]:
# indexing a nested list
nest[3]

[4, 5, ['target']]

In [159]:
# indexing a nested list
# to index the next part of the list this is returning a list with a single item
nest[3][2]

['target']

In [160]:
# indexing a nested list
# to index the next part of the list this is returning a list with a single item
# we are indexing the list within the list
nest[3][2][0]

'target'

In [161]:
lst = [1,2,3]

In [162]:
# pop() shows and removes the item from the list
lst.pop()

3

In [163]:
lst

[1, 2]

In [164]:
# checking if an item is in the list
'x' in [1,2,3]

False

In [165]:
'x' in ['x','y','z']

True

## list comprehension

we can use list comprehension as a shortcut for building simple lists more quickly

In [166]:
x = [1,2,3,4]

In [167]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [168]:
[item**2 for item in x]

[1, 4, 9, 16]

In [169]:
for index, num in enumerate(x):
    print(f"The number at index# {index} is {num}")

The number at index# 0 is 1
The number at index# 1 is 2
The number at index# 2 is 3
The number at index# 3 is 4

## range()

we use range to build an iterator that we can progress through and use as a counter

In [170]:
range(5)

range(0, 5)

In [171]:
for i in range(5):
    print(i)

0
1
2
3
4

In [172]:
list(range(5))

[0, 1, 2, 3, 4]

## lambda expressions

are simple functions we can use in line of our code
we will dig deeper into functions and how they can be used but think of them similarly to list comprehensions in that they're just another way of doing the same thing

In [173]:
def times2(var):
    return var*2

In [174]:
times2(2)

4

In [175]:
lambda var: var*2

### Dictionaries

In [176]:
# we always build dictionaries in 'key':'value' pairs
d = {'key1':'item1','key2':'item2'}

In [177]:
d

{'key1': 'item1', 'key2': 'item2'}

In [178]:
# we can access items through their keys (which act as indices)
d['key1']

'item1'

In [179]:
d.values()

dict_values(['item1', 'item2'])

In [180]:
d.keys()

dict_keys(['key1', 'key2'])

In [181]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [182]:
# iterate through keys
for key in d.keys():
    print(key)

key1
key2

In [183]:
# iterate through val
for val in d.values():
    print(val)

item1
item2

In [184]:
# iterate throug both (dict.items())
for key, value in d.items():
    print(f"The value at the {key} is {value}.")

The value at the key1 is item1.
The value at the key2 is item2.

### Sets

In [185]:
# we use curly brackets to make sets and it will return only the unique values
{1,2,3}

{1, 2, 3}

In [186]:
# we use curly brackets to make sets and it will return only the unique values
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

### Tuples

In [187]:
# we use parantheses on their own to make tuples
t = (1,2,3)

In [188]:
t[0]

1

In [1]:
# tuple values are IMMUTABLE meaning they cannot be changed once created, error expected
t[0] = 'NEW'

NameError: name 't' is not defined

In [191]:
# Tuple/Variable Unpacking
new_tuple = (1, 2, 3, 4)
a, b, c, d = new_tuple

print(a, b, c, d)

1 2 3 4

In [ ]:
# We can also build a tuple to bring list items together by using zip()
# Then we can iterate through each as a combined list
list1 = ["Captain", "Lucky","Frosted"]
list2 = ["Crunch", "Charms","Flakes"]

for item1, item2 in zip(list1,list2):
    item3 = item1 + " "+ item2 # What is an easier way to write this string?
    print(item3)

# Great Job!