### The Knowledge House
# Innovation Fellowship: Data Science - Phase 1 Week 2
## 10/02 - Intro to Programming

## Exercises

Answer the questions or complete the tasks outlined below, use the specific method described if applicable.
**The code in the answer cell is just the output, not the answer. We put it in there so that it won't go away if you accidentally run a cell.**

Some of these may be hard! That is on purpose. Work with your classmates and google t

**What is 7 to the power of 4?**

In [7]:
7**4

2401

In [8]:
2401

2401

**Split this string:**

    s = "Hi there Sam!"
    
**into a list.**

In [9]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [10]:
['Hi', 'there', 'dad!']

['Hi', 'there', 'dad!']

**Given the variables:**

    planet = "Earth"
    diameter = 12742

**Use .format() to print the following string:**

    The diameter of Earth is 12742 kilometers.
    
**Do the same using an f-string**

In [11]:
planet = "Earth"
diameter = 12742

In [12]:
f"The diameter of {planet} is {diameter} kilometers.".format(planet = planet, diameter = diameter)

'The diameter of Earth is 12742 kilometers.'

**Given this nested list, use indexing to grab the word "hello"**

In [13]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2]

['hello']

In [14]:
'hello'

'hello'

**Given the following list, use list comprehension to triple each number**

In [15]:
lst = [1, 2, 3, 4]

In [16]:
x = [1, 2, 3, 4]

lstnew = []
for item in x:
    lstnew.append(item*3)
print(lstnew)

[3, 6, 9, 12]

**Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:

ind = d['k1'][3]['tricky'][3]['target'][3]
print(ind)

hello

**What is the main difference between a tuple and a list?**

In [19]:
# A tuple is a set of values that are immutable, while a list can have as many values as possible and can be changed.

**Given the following Tuple, unpack it into the right number of variables**

In [20]:
colors = ('red','blue','green')
a, b, c = colors

print(a,b,c)

red blue green

In [21]:
('red', 'blue', 'green')

('red', 'blue', 'green')

**Given the following lists, add them with zip, and print the answer**

In [22]:
list_1 = 1, 2, 3
list_2 = 3, 4, 5

In [23]:
for item1, item2 in zip(list_1, list_2):
    print(item1+item2)

4
6
8

In [24]:
print("""
4
6
8
""")

4
6
8

**Create a function that grabs the email website domain from a string in the form:**

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [25]:
domainGet('user@domain.com')

NameError: name 'domainGet' is not defined

In [ ]:
'domain.com'

'domain.com'

**Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

In [ ]:
['soup','salad']

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed -= 5
    if speed <= 60:
        return 'No ticket'
    elif 61 <= speed <= 80:
        return 'Small ticket'
    else:
        return 'Big ticket'

In [ ]:
caught_speeding(81,True)

'Small ticket'

In [26]:
caught_speeding(81,False)

'Big ticket'

# Great job!