In [35]:
import pandas as pd

import numpy as np

In [36]:
#Creating a Series by passing a list of values, letting pandas create a default RangeIndex.

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [37]:
#Creating a DataFrame by passing a NumPy array with a datetime index using date_range() and labeled columns:

dates = pd.date_range("20200202", periods = 6)
dates

DatetimeIndex(['2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07'],
              dtype='datetime64[ns]', freq='D')

In [38]:
#Creating a DataFrame by passing a NumPy array with a datetime index using date_range() and labeled columns:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2020-02-02 -1.013812  0.274576 -0.349932  0.175812
2020-02-03 -0.148439  0.053341 -0.419553  0.299519
2020-02-04 -2.002374  1.055302  0.317379  0.671110
2020-02-05 -0.196261  1.239652  1.251997  0.355176
2020-02-06 -0.373025  0.985767 -2.693668 -1.733554
2020-02-07  0.823085  0.193762  0.945882 -1.156765

In [39]:
#Creating a DataFrame by passing a dictionary of objects where the keys are the column labels and the values are the column values.

DF2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

DF2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [40]:
#Tables from HTML - match parameter to search for key words
COVID = pd.read_html('https://en.wikipedia.org/wiki/COVID-19_pandemic_deaths', match = "second-half")
#COVID
#or
#COVID[4] for indexing and pulling up

In [42]:
#The columns of the resulting DataFrame have different dtypes:

DF2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object